body{
    width: 50%;
    height: auto;
    margin: 2% auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(
        to right,
        #3903b8,
        #a7c7eb
    ) ;
}

.container{
    
    width: 360px;
}

#inputFieldToDo{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#addToDoBtn{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size:  30px;
}

#toDoContainer{
    margin-top: 25px;
    background-color: white;
    border: 1px solid black;
}

.paragraph-styling{
    margin-left: 5%;
    margin-top: 2%;
    cursor: pointer;
    font-size: 20px;
}



 /* Removing the list style of list gfg */
 .to-dos{
    list-style-type: none;
   
}
  
/* Adding icon before each list icon */
.to-dos > li:before{
    content: 'arrow_right';
    font-family: 'Material Icons';
    font-size: 25px;
    vertical-align: -30%;
}

